<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anushk</title>
    <link rel=stylesheet type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- <script src="js/appjsFile.js"></script> -->
    <script src="{{url_for('static', filename='js/appjsFile.js')}}"></script> 
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <link rel="icon" href=".\static\Images\A.jfif" type="image/icon type">    
    
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light" id="#navbarHeader" style="background-color: #309ab4; position: fixed; top: 0; z-index: 999; width: 100%;">
        <a id="nameHeader" class="navbar-brand" href="https://github.com/Anushk2001"><span class="abc"><span  style="font-size:1.5em; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Anushk</span></span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSelection" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSelection">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#about"><span class="abc"><strong>About</strong></span><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#project"><span class="abc"><strong>Project</strong></span><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills"><span class="abc"><strong>Skills</strong></span><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact"><span class="abc"><strong>Contact</strong></span><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/make-a-Message"><span class="abc"><strong>Message Me</strong></span><span class="sr-only">(current)</span></a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" style="color: rgb(119, 15, 15);" href="#login"><span class="abc"><strong>Login</strong></span><span class="sr-only">(current)</span></a>
                </li> -->
            </ul>
        </div>
    </nav>

    <br>
    <br>
    <img src=".\static\Images\hacker.png" width="100%" alt="">
<br>
<!-- <br> -->
<div class="bgbg2">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2" style="text-align: center;">
            <h1 style="color: rgb(224, 34, 34);"><em>Hello!!! ---></em></h1>
            <!-- <img src="C:\Users\HP\Desktop\My Portfolio website\Images\A.jfif" id="git_id" style="width: 50px;" /> -->
        </div>
        <div class="col-md-7 exbar" id="typeWriterOutlines">
            <!--
                add text animation here
            -->
                <p class="line-1 anim-typewriter" id="typeWriter">My Github Account -<a href="https://github.com/Anushk2001"> Anushk2001</a></p>
        
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

    <section id="about" class="text-center">
        <div class="jumbotron about-me">
         <h1 class="display-4" style="color: darkred;">A Bit About Me</h1>
           <img class="prof-pic" src=".\static\Images\Selfie.jpeg" height="80px" width="180px">
           <br>
           <!-- <p class="aboutsectioning" > <strong>Competitive Coder </strong></p>
            <p class="aboutsectioning" > <strong>FrontEnd Developer</strong></p>
            <p class="aboutsectioning" > <strong> Video Editor </strong></p> -->
            <!-- <p class="aboutsectioning" > <strong>  </strong></p>    -->
           <p class="lead" style="margin-top: 20px;"><strong>Hey! My name is <em>Anushk Gautam.</em> </p> </strong> <p class="lead" ><strong> I'm currently a second year student at</strong>
           <a style="color: rgb(16, 156, 86);" href="https://www.iiti.ac.in/" target="_blank"><strong>Indian Institute Of Technology Indore</strong></a> 
        <strong>pursuing a degree in </strong><a style="color: rgb(16, 156, 86);" href="http://me.iiti.ac.in/" target="_blank"><strong>Mechanical 
            Engineering</strong></a>. </p>
                            
            
                  <p class="lead" > <strong> I am passionate toward a career of software developer.</strong> </p>
       <p class="lead" ><strong>Apart from this I enjoy Cricket, Swimming, 
        Giving Puzzle Contests, Listning Music, Gymming and Interacting With People.</strong> </p>

        <div class="downloadCV">
            <h2 style="color: rgb(12, 110, 86);">  Download my CV..</h2>
            <p><strong>Updated on 4/12/2020</strong></p>
            <form class="danger" method="get" action="./static/Certificate/CV.pdf">
                <button  type="submit" id="downloadCVForm" class="btn btn-danger">&#8618;VIEW</button>
                <!-- <button  class="downloadCVForm" type="submit">DOWNLOAD</button> -->
            </form>
            
            <!-- <button  ></button> -->
        </div>
      
        <!-- <div style="text-align: left;">
         
            <h1>Message me!</h1>
              <form action="" method="POST">
        Name: <input type="text" name="name" id="" placeholder="E.g Anushk Gautam">
        <br>
        <br>
        Email: <input type="text" name="email" id="" placeholder="E.g anushk@gmail.com">
        <br>
        Message:
        <br>
        <textarea name="message" id="" cols="50" rows="5" placeholder="Please write your suggestions."></textarea>
        <br>
        <input type="submit" >
    </form>
        
    </div> -->


    </div>
        
      </section>

      
<section id="CompetitiveProgramming" >
         <div class="cpHeader">
             
      
      <h1 class="cpProfile">Competitive Coding Profile</h1>

      <div class="row" >
        <div class="col-md-2"></div>
        <div class="col-md-3" >
            <div class="Xcard-body">
                <div class="xCard-head">
                    <img src=".\static\Images\codeforces.png" alt="codeforces" style="width: 100%; height: 200px;"/>
                </div>
                <div class="Xcard-foot">
                    <span>codeforces</span>
                    <p>
                        <a href="https://codeforces.com/profile/Rudra24">Rudra24 <i class="rank">(1550)</i></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-3" >
                <div class="Xcard-body">
                    <div class="xCard-head">
                        <img src=".\static\Images\codechef.png" alt="codeforces" style="width: 100%; height: 200px;"/>
                    </div>
                    <div class="Xcard-foot">
                        <span>codechef</span>
                        <p>
                            <a href="https://www.codechef.com/users/anushk24">anushk24 <i class="rank">(1857)</i></a>
                        </p>
                    </div>
                </div>
            </div>
    </div>
    
    <div class="cpDepth">
        <ul class="cpskillList">
            <li>&#8594;  Competitive Programmer</li>
            <li>&#8594;  Data Structure &amp; Algorithm</li> 
            <li>&#8594;  Problem Tester &amp; Setter</li> 
            <!-- <li> Regular Participating in Programming Contests</li> 
            <li> Team Contests on Competitive Platform</li>          -->
        </ul>
    </div>
         </div>
</section>
    
    <section id="project" class="text-left">

        <div class="jumbotron about-me">
      <div class="experienceHeader">
        <h1 class="display-5" >My Experience</h1>
      </div>     
      <br>
      <p > <img src=".\static\Images\Google-Cloud-Logo2.png"  height="=100" width="100" > <a class="projectLink" href="https://www.qwiklabs.com/public_profiles/3255512a-5076-411c-a8af-7e3c9066fb55" target="_blank"> Google Cloud</a> </p>
      <p style="color: rgb(224, 32, 122);" >I have completed 7 Quest and Track 1 of <b>Google Cloud</b> on Qwiklabs Platform  <em style="color: rgb(19, 102, 141);">Oct-Nov (2020) .</em></p>
   
      <br>
      
         <p > <img src=".\static\Images\table-tennis.jpg"  height="=100" width="100" > <a class="projectLink" href="https://github.com/Anushk2001/ScoreKeeper" target="_blank"> Score Keeper For Game</a> </p>
           <p style="color: rgb(224, 32, 122);" >I have made a <b>front end</b> project with HTML, Bulma (Style) &amp; Javascript  <em style="color: rgb(19, 102, 141);">Sept (2020) .</em> </p>
        
           <br>
         <p > <img src=".\static\Images\portfolio.png"  height="=100" width="100" > <a class="projectLink" href="https://github.com/Anushk2001/PORTFOLIO" target="_blank"> Portfolio</a> </p>
           <p style="color: rgb(224, 32, 122);" >I have made a <b>Portfolio</b>  project with <b>FrontEnd</b> {HTML, CSS, Bootstrap, Bulma (Style), Javascript,} And <b>BackEnd </b>{Python Flask, MySQL Database}   <em style="color: rgb(19, 102, 141);">Nov (2020) .</em> </p>
        
        </div>
      </section>


      

     
    <section id="skills" >
        <div class="jumbotron about-me" id="skillsHeader">
            <!-- style="background-color: bisque; display: block; text-align: right ; font-size: 1.5em;" -->
            <!-- <ul class="nav nav-pills">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sports</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#techSkills">Technical Skills</a>
                      <a class="dropdown-item" href="#NonTechSkills">Non-Technical Skills</a>
                    </div>
                </li>
            </ul> -->


            <!-- <select name="Skills" id="optionforSkills">
                <option value="#techSkills"> Technical Skills</option>
                <option id="NonTechSkills"> Non-Technical Skills</option>
            </select> -->
            <br>
            <h2 id="techSkills" style="font-size: 2.3em;">Technical Skills</h2>
            <p style="text-align:center"> Some technologies I work with: </p>
            <ul class="skillList">
                <li>HTML</li>
                <li>Bootstrap,Bulma,CSS</li>
                <li>JS</li>
                <li>Dart</li>
                <li>C/C++</li>
                <li>Ruby</li>
                <li>Python Flask<strong style="color: rgb(198, 47, 218);"></strong>  </li>
                <li>MySQL<strong style="color: rgb(198, 47, 218);"></strong></li>               
            </ul>

            <!-- <h2 id="NonTechSkills" style="font-size: 2.3em; text-align: center;">Non-Technical Skills</h2> -->
            <!-- <p style="text-align:center"> Some hobbies and skills I have : </p> -->
            <!-- <ul class="skillList"> 
                 <li>Playing Synthesizer</li>
                <li>Chess</li>
                <li>Swimming<strong style="color: rgb(198, 47, 218);"></strong></li>
                <li>Cricket</li>             
            </ul> -->


        </div>
      </section>
                
                  
      <section id="certificates">
        <div class="certificateDiv">
                    <h1 class="cerificateTop" ><em>Certificates</em></h1>
                    <div class="row" >
                        <div class="col-md-2"></div>
                        <div class="col-md-3" >
                            <div class="certificatesCard-body">
                                
                                <div class="certificatesCard-foot">
                                    <span>Project Management The Basics for Success</span>
                                    <p>
                                        <a href="./static/Certificate/Project%20Management%20The%20Basics%20for%20Success.pdf">View Certificate </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-3" >
                                <div class="certificatesCard-body">
                                    
                                    <div class="certificatesCard-foot">
                                        <span>Machine Learning Algorithms Supervised</span>
                                        <p>
                                            <a href="./static/Certificate/Machine%20Learning%20Algorithms%20Supervised.pdf">View Certificate </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="row" >
                        <div class="col-md-2"></div>
                        <div class="col-md-3" >
                            <div class="certificatesCard-body">
                                
                                <div class="certificatesCard-foot">
                                    <span>Fibonacci Numbers and the Golden Ratio</span>
                                    <p>
                                        <a href="./static/Certificate/Fibonacci%20Numbers%20and%20the%20Golden%20Ratio.pdf">View Certificate </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-3" >
                                <div class="certificatesCard-body">
                                    
                                    <div class="certificatesCard-foot">
                                        <span>National Engineering Olympiad version 3.0</span>
                                        <p>
                                            <a href="./static/Certificate/NEO3.0%20ANUSHK%20%20GAUTAM.pdf">View Certificate </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-2"></div>
                        <div class="col-md-3" >
                            <div class="certificatesCard-body">
                                
                                <div class="certificatesCard-foot">
                                    <span>Google Cloud Certificate</span>
                                    <p>
                                        <a href="./static/Certificate/Google%20Cloud.pdf">View Certificate </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-3" >
                                <div class="certificatesCard-body">
                                    
                                    <div class="certificatesCard-foot">
                                        <span>Coding Ninja</span>
                                        <p>
                                            <a href="./static/Certificate/Coding%20Ninja.pdf">View Certificate </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                    </div>
        </div>
    </section>    
                  
      <section id="contact">

        <div style="text-align:center; width: 100%;" class="div1 flakes">
            <p class="leading">
                <i class="fa fa-coffee fa-5x" aria-hidden="true"></i>        </p>
            <p style="font-size: 2em;">
                <strong>"Great things never come from comfort zones"</strong>
            </p>
            <h1 class="display-5" style="color: red; text-align: left;">Contact me- Get in touch!</h1>
            <br>
            <p style="text-align: left;"> <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQGyOWvr4W0Pow/company-logo_200_200/0?e=2159024400&v=beta&t=itrwplyUUwPAVxqxN8THySQds9p401UaOtZIurSBVnA"  height="=50" width="50" > <a class="contactLink" href="https://www.linkedin.com/in/anushk-gautam-69294b1b0/" target="_blank"> Linkedin</a> </p>
                
            <p style="text-align: left;"> <img src=".\static\Images\github.png"  height="=50" width="50" > <a class="contactLink" href="https://github.com/Anushk2001" target="_blank"> Github</a> </p>
        
            <p style="text-align: left;"> <img src=".\static\Images\message-1.jpg"  height="=50" width="50" > <a class="contactLink" href="/make-a-Message" target="_blank"> Message Me!</a> </p>
        
            <p style="text-align: right;"><strong>Updated on 5/12/2020</strong></p>
          </div>
    
        <!-- <div class="jumbotron contact-pri jumbotron-fluid"  style="background: linear-gradient(#ddda28 0%,#af1a53 100%)">
            <div class="container">
              <h1 class="display-4">Contact me- Get in touch!</h1>
              <br> -->
              <!-- <p > <img src="https://lh3.googleusercontent.com/2sREY-8UpjmaLDCTztldQf6u2RGUtuyf6VT5iyX3z53JS4TdvfQlX-rNChXKgpBYMw"  height="=50" width="50" > <a class="contactLink" href="" target="_blank"> Instagram</a> </p> -->
          
              <!-- <p > <img src="https://www.facebook.com/images/fb_icon_325x325.png"  height="=50" width="50" > <a class="contactLink" href="" target="_blank"> Facebook</a> </p> -->
          
              <!-- <p > <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQGyOWvr4W0Pow/company-logo_200_200/0?e=2159024400&v=beta&t=itrwplyUUwPAVxqxN8THySQds9p401UaOtZIurSBVnA"  height="=50" width="50" > <a class="contactLink" href="https://www.linkedin.com/in/anushk-gautam-69294b1b0/?msgControlName=reply_to_sender&msgConversationId=6717647142749581312&msgOverlay=true" target="_blank"> Linkedin</a> </p>
            
              <p > <img src="github.png"  height="=50" width="50" > <a class="contactLink" href="https://github.com/Anushk2001" target="_blank"> Github</a> </p>
            </div>
          </div> -->

      </section>
<!-- 
      <div style="text-align:center; width: 100%;" class="div1 flakes">
        <p class="leading">
            <i class="fa fa-coffee fa-5x" aria-hidden="true"></i>        </p>
        <p style="font-size: 2em;">
            <strong>"Great things never come from comfort zones"</strong>
        </p>
        <h1 class="display-4" style="color: red; text-align: left;">Contact me- Get in touch!</h1>
        <p style="text-align: left;"> <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQGyOWvr4W0Pow/company-logo_200_200/0?e=2159024400&v=beta&t=itrwplyUUwPAVxqxN8THySQds9p401UaOtZIurSBVnA"  height="=50" width="50" > <a class="contactLink" href="https://www.linkedin.com/in/anushk-gautam-69294b1b0/?msgControlName=reply_to_sender&msgConversationId=6717647142749581312&msgOverlay=true" target="_blank"> Linkedin</a> </p>
            
        <p style="text-align: left;"> <img src="github.png"  height="=50" width="50" > <a class="contactLink" href="https://github.com/Anushk2001" target="_blank"> Github</a> </p>
    
      </div> -->

</body>
</html>