<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks</title>
    <link rel=stylesheet type="text/css" href="{{ url_for('static', filename='css/users.css') }}">

    <link rel="shortcut icon" href="/static/Images/userBackground.jpg" type="image/x-icon">
    <link rel="icon" href="/static/Images/userBackground.jpg" type="image/x-icon">
</head>
<body>

  <div class="onlyHeader">
           <!-- {% for user in userDetails %}
           a={{user[0]}}            
           {% endfor %} -->
            <h1>Thank you for your submission.</h1>
  </div>
  
<!-- <table border = 1>
    {% for user in userDetails %}
    <tr>
      <td>Name</td>
      <td>Email</td>
      <td>College Name</td>
      <td>Message</td>
    </tr>
    <tr>
      <td> {{user[0]}} </td>
      <td> {{user[1]}} </td>
      <td> {{user[2]}} </td>
      <td> {{user[3]}} </td>
    </tr>
    {% endfor %}
  </table> -->

</body>
</html>