<!DOCTYPE html>
<html lang="en">
<head>
  <title>anushk</title>
  <link rel = "icon" href = "./PNG/title2.png" > 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="main.css">
  <link rel="stylesheet" type="text/css" href="typewriter.css" />
  <script type="text/javascript" src="script.js"></script>
  <script type="text/javascript" src="typewriter.js"></script>

  
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">


<body>
    <a href="file:///C:/Users/HP/Desktop/Project/My%20Portfolio%20website/Certificate/Machine%20Learning%20Algorithms%20Supervised.pdf" download>
        <img src="C:\Users\HP\Desktop\Project\My Portfolio website\Images\A.jfif" alt="W3Schools">
      </a>
    
</body>
</html>